PHX_PORT=4000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_POOL_SIZE=8

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=prometheus_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_POOL_SIZE=8

JWT_SECRET_KEY=S9TldAuz4xicrmnoub3/TQ4UAoPftl1gDF7HzmJrbld2tLCAQHUUPk70lW9cSkb3
SECRET_KEY_BASE=NmolU2AljX5nfL8eUD/1arE9UaHuslMNiCh07+CpT8LpQ0ie9wdL2Qe7pWRQfnH4
