PHX_PORT=4000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_POOL_SIZE=8

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_POOL_SIZE=8

JWT_SECRET_KEY=your_jwt_secret_key # ! Use (phx.gen.secret) in your terminal.
SECRET_KEY_BASE=your_secret_key_base # ! Use (phx.gen.secret) in your terminal.
